.jumbotron{
    background-image: url(../images/bones.jpg);
    padding-bottom: 2%;
}
body{
    
    background-image: url(../images/cork-board.png);
}

.headerContainer{
    width: 60%;
    color: black;
    font-weight: 900;
    background-color: #F6F6F6;
    margin-left: 200px;
    font-family: 'Luckiest Guy', cursive;
    padding-bottom: 0%;
}
.container{
    border-radius: 25px;
    background-color: #F6F6F6;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
#word{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Raleway', sans-serif;
}
#scores{
    padding-top: 3%;
}
.winText{
    color: green;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.lossText{
    color: red;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
img{
    border-radius: 10px;
}